[
    {
        "model_name": "gpt-4o-2024-08-06",
        "model_id": "gpt-4o-2024-08-06",
        "backend": "openai",
        "release_date": "2024-08-06",
        "open_weight": false,
        "parameters": "",
        "languages": [
            "en",
            "es",
            "fr",
            "de",
            "it",
            "pt",
            "ru",
            "zh",
            "ja",
            "ko",
            "ar",
            "hi",
            "bn",
            "te",
            "ta",
            "ml",
            "kn",
            "gu",
            "mr",
            "pa",
            "ur",
            "vi",
            "th",
            "id",
            "ms",
            "tl",
            "sw",
            "yo",
            "zu",
            "tr",
            "he",
            "fa",
            "uk",
            "pl",
            "cs",
            "hu",
            "ro",
            "nl",
            "sv",
            "no",
            "da",
            "fi",
            "el",
            "bg",
            "sr",
            "hr",
            "sk",
            "is"
        ],
        "context_size": "128k",
        "license": {
            "name": "OpenAI",
            "url": "https://openai.com/policies/row-terms-of-use/"
        },
        "model_config": {
            "multimodality": {
                "single_image": true,
                "multiple_images": true,
                "audio": false,
                "video": false
            }
        }
    },
    {
        "model_name": "Meta-Llama-3.1-8B-Instruct",
        "model_id": "Meta-Llama-3.1-8B-Instruct",
        "backend": "huggingface_local",
        "huggingface_id": "meta-llama/Meta-Llama-3.1-8B-Instruct",
        "release_date": "2024-07-23",
        "open_weight": true,
        "parameters": "8B",
        "languages": [
            "en",
            "de",
            "fr",
            "it",
            "pt",
            "hi",
            "es",
            "th"
        ],
        "context_size": "128k",
        "license": {
            "name": "Meta",
            "url": "https://github.com/meta-llama/llama-models/blob/main/models/llama3_1/LICENSE"
        },
        "model_config": {
            "requires_api_key": true,
            "premade_chat_template": true,
            "eos_to_cull": "<\\|eot_id\\|>"
        }
    },
    {
        "model_name": "my_model",
        "model_id": "my_model",
        "backend": "openai_compatible",
        "release_date": "2025-03-19",
        "open_weight": true,
        "parameters": "1B",
        "languages": [
            "en"
        ],
        "context_size": "128k",
        "license": {
            "name": "Apache",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "model_config": {}
    }
]